.mainContainer {
    background-color: rgb(254, 250, 239) !important;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.question-footer{
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
}
.quizAnswerBtn{
    margin-top: 10px;
}
.quizAnswerBtn:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
  
}
.btn-outline-success,.btn-outline-danger{
   
 border: solid 2px !important;
 font-weight: bold !important;
}
.trophy{
    height: 200px;
}
.textCenter{
    text-align: center;
}
.endScreen{
    display: flex;
    text-align: center;
    
}